# Meridian Backend Environment Variables
PORT=5000
NODE_ENV=development

# Oracle DB
DB_USER=meridian
DB_PASSWORD=meridian_pass
DB_CONNECT=localhost:1521/XEPDB1

# JWT
JWT_SECRET=meridian_super_secret_jwt_key_change_in_production_2026

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:3000
